In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("/Users/yangdongjae/Desktop/2020/대외활동/7th_sw_hackathon/ML/data/test.csv")

In [4]:
df

      Unnamed: 0       ver       hor
0              0       NaN       NaN
1              1  0.750000  0.653361
2              2  0.794444  0.663636
3              3       NaN       NaN
4              4  0.763636  0.669192
...          ...       ...       ...
4100        4100       NaN       NaN
4101        4101       NaN       NaN
4102        4102  0.944444  0.755556
4103        4103  0.644231  0.501292
4104        4104  0.554487  0.552326

[4105 rows x 3 columns]

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4105 entries, 0 to 4104
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  4105 non-null   int64
 1   ver         2705 non-null   float64
 2   hor         2705 non-null   float64
dtypes: float64(2), int64(1)
memory usage: 96.3 KB